.vertical-menu {
  height: calc(100vh - 4rem);
}
.side-bar {
  width: 275px;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 70px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}
.navbar-side {
  height: 100%;
  width: 23%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  list-style: none;
  border-right: 2px solid rgb(180, 177, 177);
  background-color: white;
  overflow-y: scroll;
  z-index: 1000;
}
.navbar-side-item {
  padding: 0.5rem 3rem;
  margin: 0;
  height: 3rem;
  font-size: 1.2rem;
}

.side-link:hover {
  background-color: rgb(229, 244, 253);
  color: rgba(29, 161, 242, 1);
}

.side-link {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.active {
  color: rgba(29, 161, 242, 1);
}
.navbar-side-right {
  height: 100%;
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid rgb(180, 177, 177);
  background-color: white;
  overflow-y: scroll;
  z-index: 1000;
}
.ip2 {
  border-radius: 25px;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.message {
  cursor: pointer;
  color: rgba(29, 161, 242, 1);
  padding: 0.5rem;
}
.message:hover {
  background-color: rgb(187, 226, 250);
}

.padLeft {
  padding-left: 0.5rem;
}

.lightFont {
  color: rgb(182, 179, 179);
}

.messageActive {
  background-color: rgb(245, 248, 250);
  border-right: 2px solid rgba(29, 161, 242, 1);
  padding: 0.5rem;
}

.messageText {
  position: absolute;
  bottom: 0px;
  padding: 2rem;
}
.vertical-center {
  margin: auto;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 8rem;
}
.searchPeople {
  cursor: pointer;
}

.searchPeople:hover {
  background-color: beige;
}
.dropdown-toggle::after {
  display: none;
}

.rightNav {
  background-color: rgb(245, 248, 250);
  padding: 20px;
  margin-left: 20px;
  border-radius: 25px;
}
.centerContent {
  height: 100vh;
}
